// // atomsフォルダ内のHeading.tsxに当てるスタイル

.HeadingText {
  width: 200px;
  padding: 10px 0;
  text-align: center;
  font-family: "ShinGo";
  font-weight: 700;
  font-size: 20px;
  box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.4);

  &:before {
    content: "";
    position: absolute;
    left: -3px;
    top: 50%;
    display: inline-block;
    width: 3px;
    height: 50px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #000;
  }

  &:after {
    content: "";
    position: absolute;
    right: -3px;
    top: 50%;
    display: inline-block;
    width: 3px;
    height: 50px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #000;
    box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.4);
  }
}

.Heading-wrap {
  margin: 0 auto;
  width: fit-content;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 3px;
    top: -3px;
    display: inline-block;
    width: 197px;
    height: 3px;
    background-color: #000;
  }

  &:after {
    content: "";
    position: absolute;
    left: 3px;
    bottom: -3px;
    display: inline-block;
    width: 197px;
    height: 3px;
    background-color: #000;
    box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.4);
  }
}

// 黒
.HeadingBlackRect {
  position: absolute;
  width: 3px;
  height: 7px;
  background-color: #000;
}

.bk__top-left {
  top: -3px;
  left: 0px;
}
.bk__top-rigt {
  top: -3px;
  right: 0px;
}
.bk__btm-left {
  bottom: -3px;
  left: 0px;
}
.bk__btm-rigt {
  bottom: -3px;
  right: 0px;
}

//映画ページ用の
.HeadingMovieText {
  @extend .HeadingText;
  padding: 9px 0;
  font-size: 14px;

  &:before {
    @extend .HeadingText, :before;
    left: -3px;
    top: 50%;
    width: 3px;
    height: 38px;
    box-shadow: 0 0;
  }

  &:after {
    @extend .HeadingText, :after;
    right: -3px;
    top: 50%;
    width: 3px;
    height: 38px;
  }
}

.HeadingMovie-wrap {
  @extend .Heading-wrap;

  &:before {
    @extend .Heading-wrap, :before;
    left: 0px;
    top: -2.3px;
    width: 200px;
    height: 2.3px;
  }

  &:after {
    @extend .Heading-wrap, :after;
    left: 0px;
    bottom: -2.3px;
    width: 200px;
    height: 2.3px;
  }
}

.HeadingMovieBlackRect {
  @extend .HeadingBlackRect;
  height: 5.38px;
}

.mv__top-left {
  top: -2.3px;
  left: 0px;
}
.mv__top-rigt {
  top: -2.3px;
  right: 0px;
}
.mv__btm-left {
  bottom: -2.3px;
  left: 0px;
}
.mv__btm-rigt {
  bottom: -2.3px;
  right: 0px;
}
