@import "./font";

body {
	background-color: #0D2E4F;
}

#root {
	overflow: clip;
	width: 100vw;
	height: 100vh;
}

.chart-start-display {
	overflow: clip;
	width: 100%;
	height: 100%;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}

.chart-start-button {
	display: block;
	text-align: center;
	width: 20vw;
	height: 20vw;
	font-family: vdl-gigajr;
	font-size: 20px;
	font-weight: 500;
	color: #DC4D40;
	background-color: rgba(220, 77, 64, 0.2);
	border-radius: 50%;
	border: solid 2px #DC4D40;
	box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.4) inset,
							0px 0px 15px rgba(255, 0, 0, 0.4);

	& p {
		display: inline-block;
		margin: 0;
		line-height: 20vw;
		text-shadow: 0px 0px 15px rgba(255, 0, 0, 0.4);
		transform: skewX(-16deg);
	}
}

.chart-test-display {
	width: 100%;
	height: 100%;
}

.chart-test-content-wrap {
	width: 100%;
	height: 100%;
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	column-gap: 13vw;
}

.chart-button-yes, .chart-button-no {
	display: block;
	text-align: center;
	width: 10vw;
	height: 10vw;
	color: #EFEFEF;
	border: solid 1px #EFEFEF;
	border-radius: 50%;
	background-color: rgba(239, 239, 239, 0.1);

	& p {
		display: inline-block;
		margin: 0;
		line-height: 10vw;
		font-family: "ShinGo";
		font-weight: 200;
	}
}

.chart-test-question {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 39.8vw;
	height: 39.8vw;
	border-radius: 50%;
	border: solid 3px #DC4D40;
	box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.4) inset,
							0px 0px 15px rgba(255, 0, 0, 0.4);

	& h2 {
		color: #EFEFEF;
		font-family: "ShinGo";
		font-weight: 200;
	}
}