.chart-start-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 180px;
	height: 180px;
	font-family: vdl-gigajr;
	font-size: 20px;
	font-weight: 500;
	color: #DC4D40;
	border-radius: 50%;
	border: solid 2px #DC4D40;
	box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.4) inset,
							0px 0px 15px rgba(255, 0, 0, 0.4);

	&:before {
		content: "";
		position: absolute;
		width: 340px;
		height: 340px;
		background-image: url("../../public/images/chart/chartCycleGreen.svg");
		background-repeat: no-repeat;
		transform-origin: center center;
		animation:8s linear infinite rotation_green;
	}

	&:after {
		content: "";
		position: absolute;
		width: 280px;
		height: 280px;
		background-image: url("../../public/images/chart/chartCycleWhite.svg");
		background-repeat: no-repeat;
		transform-origin: center center;
		animation:10s linear infinite rotation_white;
	}

	& p {
		display: inline-block;
		margin: 0;
		line-height: 20vw;
		text-shadow: 0px 0px 15px rgba(255, 0, 0, 0.4);
		transform: skewX(-7deg);
	}
}

.chart-start-text {
	margin-top: 186px;
	color: #FFF;
	-webkit-text-stroke: 1px #FFF;
	text-stroke: 1px #FFF;
	text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.4);
	font-family: vdl-gigajr;
	font-size: 24px;
	transform: skewX(-7deg);
}

.startFadeIn {
	opacity: 0;
	animation: 2s startFadeIn forwards;
}

@keyframes startFadeIn {
	100% {
		opacity: 1;
	}
}

.startFadeOut {
	animation: 0.5s startFadeOut forwards;
}

@keyframes startFadeOut {
	100% {
		opacity: 0;
	}
}


.chart-test-display {
	width: 100%;
	height: 100%;
}

.chart-test-content-wrap {
	width: 100%;
	height: 100%;
}

.chart-test-question {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 237px;
	height: 237px;

	& span {
		content: "";
		width: 310px;
		height: 310px;
		position: absolute;
		border-radius: 50%;
		border: solid 2px #9FC771;
		box-shadow: 0px 0px 15px rgba(0, 255, 0, 0.4);
		box-sizing: border-box;
	}

	&:before {
		content: "";
		position: absolute;
		width: 200%;
		height: 200%;
		border-radius: 50%;
		background: #0D2E4F;
	}

	&:after {
		content: "";
		position: absolute;
		width: 250px;
		height: 250px;
		border-radius: 50%;
		border: solid 3px #DC4D40;
		box-sizing: border-box;
		animation: neonRedCycle 1.5s infinite alternate;
	}
}

.chart-test-question {
	color: #FFF;
	text-align: center;
	font-family: "ShinGo";
	font-weight: 200;
	font-size: 18px;
	z-index: 100;

	&__FadeIn {
		opacity: 0;
		animation: 1s questionTextSlideIn both;
	}

	&__FadeOut {
		animation: 0.5s questionTextSlideOut both;
	}
}

@keyframes questionTextSlideIn {
	0% {
		transform: translateY(5px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes questionTextSlideOut {
	0% {
		transform: translateY(0px);
	}

	100% {
		opacity: 0;
		transform: translateY(-5px);
	}
}

// ネオン風アニメーション
@keyframes neonRedCycle {
  100% {
    box-shadow:
			0 0 4px rgba(255, 0, 0, 0.1),
			0 0 11px rgba(255, 0, 0, 0.1),
			0 0 40px rgba(255, 0, 0, 0.2),
			0 0 60px rgba(255, 0, 0, 0.4),
			0 0 4px rgba(255, 0, 0, 0.1) inset,
			0 0 11px rgba(255, 0, 0, 0.1) inset,
			0 0 40px rgba(255, 0, 0, 0.2) inset,
			0 0 60px rgba(255, 0, 0, 0.4) inset;
  }
  0% {
    box-shadow:
			0 0 2px rgba(255, 0, 0, 0.1),
			0 0 4px rgba(255, 0, 0, 0.1),
			0 0 10px rgba(255, 0, 0, 0.2),
			0 0 35px rgba(255, 0, 0, 0.4),
			0 0 2px rgba(255, 0, 0, 0.1) inset,
			0 0 4px rgba(255, 0, 0, 0.1) inset,
			0 0 10px rgba(255, 0, 0, 0.2) inset,
			0 0 35px rgba(255, 0, 0, 0.4) inset;
	}
}

.chart-test-buttons {
	display: flex;
	flex-direction: row;
	column-gap: 130px;
	margin-top: 14vh;
	transform: translateY(20px);
}

.chart-button-yes, .chart-button-no {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90px;
	height: 90px;
	color: #EFEFEF;
	border: solid 1px #FFF;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);

	& p {
		display: inline-block;
		margin: 0;
		line-height: 10vw;
		font-family: vdl-gigajr;
		font-weight: 200;
		transform: skewX(-7deg);
	}
}

.chart-test-answer-text {
	position: absolute;
	top: 90px;
	font-family: vdl-gigajr;
	font-size: 35px;
	font-weight: 500;
	-webkit-text-stroke: 1px #DC4D40;
	text-stroke: 1px #DC4D40;
	color: #DC4D40;
	z-index: 500;
	animation: 1s answerFadeIn both;

	& p {
		display: inline-block;
		margin: 0;
		transform: skewX(-7deg);
	}
}

@keyframes answerFadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.chart-test-answer {
	@extend .chart-test-question;

	& img {
		z-index: 100;
		width: 237px;
		height: 237px;
		animation: 1s answerFadeIn both;
	}

	&:after {
		animation: none;
		border: solid 2px #9FC771;
		box-shadow: 0px 0px 15px rgba(0, 255, 0, 0.4);
	}
}

.chart-result-buttons {
	@extend .chart-test-buttons;
	column-gap: 20px;
}

.chart-button-back,
.chart-button-twitter,
.chart-button-view {
	@extend .chart-button-yes;
}

.chart-button-twitter {
	transform: translateY(30px);
}

.chart-button-view {
	p {
		line-height: 17px;
	}
}

// 回転アニメーション
@keyframes rotation_green {
	0%{ transform:rotate(0);}
	100%{ transform:rotate(360deg); }
}
@keyframes rotation_white {
  0%{ transform:rotate(0);}
  100%{ transform:rotate(-360deg); }
}