.p-depa {
	padding: 108px 0;
	text-align: center;

	&__heading {
		margin-bottom: 20px;
	}

	&__title {
		font-family: "ShinGo";
		font-weight: 600;
		font-size: 35px;
		line-height: 1.3;
		color: #4E8465;
	}

	&__subtitle {
		@extend .p-depa__title;
		margin-left: 5px;
		font-weight: 300;
		font-size: 14px;
		line-height: 1.5;
	}

	&__about {
		display: inline-block;
		margin-bottom: 16px;
		font-family: "ShinGo";
		font-weight: 300;
		font-size: 12px;
		color: #000;
	}

	&__toForm {
		display: inline-block;
		position: relative;
		width: 265px;
		padding: 6px;
		line-height: 1.7;
		font-family: "ShinGo";
		font-weight: 600;
		font-size: 14px;
		color: #FFF;
		background: -moz-linear-gradient(left, #99C955, #30895E);
		background: -webkit-linear-gradient(left, #99C955, #30895E);
		background: linear-gradient(to right, #99C955, #30895E);

		&:after {
			content: "";
			position: absolute;
			width: 20px;
			height: 20px;
			top: 50%;
			right: 8px;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			background-image: url("../../public/icons/viewMore_white.svg");
			background-repeat: no-repeat;
		}
	}
}