.p-movie {
	padding-top: 90px;
	text-align: center;

	&__heading {
		margin-bottom: 20px;
	}

	&__title {
		font-family: "ShinGo";
		font-weight: 600;
		font-size: 35px;
		line-height: 1.3;
		color: #4E8465;
	}

	&__subtitle {
		@extend .p-movie__title;
		margin-left: 5px;
		font-weight: 300;
		font-size: 14px;
		line-height: 1.5;
	}

	&__about {
		font-family: "ShinGo";
		font-weight: 300;
		font-size: 12px;
		color: #000;
	}
}