.MainVisual {
	width: 100vw;
	height: 100vh;
}

.MainVisual-img {
	height: 94vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.MainVisual-info {
	display: flex;
	align-items: center;
	width: 100%;
	height: 6vh;
	color: #FFF;
	background-color: #DC4D40;
}

.flow-text {
	width: 100%;
	padding: 0 100vw;
	font-family: "Pixel";
	font-weight: 300;
	white-space: nowrap;
	animation-name: marquee;
	animation-duration: 7s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes marquee {
	from    { transform: translate(0%); }
	100%,to { transform: translate(-100%); }
}


// About部分
.top-about {
	padding: 60px 8% 81px;
	text-align: center;
	background-image: url("../../public/images/top/aboutBg.jpg");
	background-size: cover;
	background-repeat: no-repeat;

	&__heading {
		margin-bottom: 47px;
	}

	&__title {
		font-family: "ShinGo";
		font-weight: 800;
		font-size: 38px;
		color: #FFF;
		text-shadow: 0px 4px 1px rgba(0, 0, 0, 0.1);
	}

	&__subtitle {
		font-family: "ShinGo";
		font-weight: 300;
		font-size: 14px;
		color: #39654C;
	}

	&__description-text {
		white-space: nowrap;
		font-family: "ShinGo";
		font-weight: 600;
		font-size: 16px;
		line-height: 2;
		color: #FFF;
	}

	&__description-main {
		position: relative;
		width: fit-content;
		margin: 40px auto 0;
		font-family: "ShinGo";
		font-weight: 600;
		font-size: 20px;
		line-height: 2;
		color: #FFF;

		&:after {
			content: "";
			position: absolute;
			top: calc(50% - 12px);
			right: -24px;
			width: 24px;
			height: 24px;
			background-image: url("../../public/icons/emojione_double-exclamation-mark.svg");
			background-repeat: no-repeat;
		}
	}
}

// Theme部分
.top-theme {
	position: relative;
	min-height: 995px;
	margin: 60px 0 0;

	&__heading {
		margin-bottom: 40px;
		text-align: center;
	}

	&__title {
		font-family: "ShinGo";
		font-weight: 600;
		font-size: 35px;
		line-height: 1.3;
		color: #4E8465;
	}

	&__subtitle {
		@extend .top-theme__title;
		margin-left: 5px;
		font-weight: 300;
		font-size: 14px;
		line-height: 1.5;
	}

	&__movie {
		position: relative;
		margin: 0 auto;
		z-index: 1;
		overflow: hidden;
		width: 82%;

		&-box {
			position: relative;
			padding: 78px 0;
			text-align: center;
			color: #FFF;
		}
	}

	&__caption {
		position: absolute;
		width: 100%;
		top: 235px;

		&-inner {
			position: relative;
		}

		&-bg {
			width: 100%;
			height: 766px;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-content-wrap {
			position: absolute;
			top: 0;
			margin: 27.5% 5% 20%;
			padding: 10% 7.7%;
			border-radius: 15px;
			background-color: rgba(13, 46, 79, 0.4);
			background-image:	radial-gradient(rgba(64, 95, 126, 0.3) 22%, transparent 15%);
			background-size: 12px 9px;
		}

		&-title {
			margin-bottom: 40px;
			position: relative;
			text-align: center;

			h1 {
				display: inline-block;
				font-family: ShinGo;
				font-weight: 600;
				font-size: 18px;
				color: #FFF;
			}

			&:before {
				content: "";
				display: inline-block;
				width: 129px;
				height: 43px;
				top: -20px;
				left: 0;
				background-image: url("../../public/images/top/GOOOON.svg");
				background-repeat: no-repeat;
			}
		}

		&-text {
			font-family: "ShinGo";
			font-weight: 300;
			font-size: 14px;
			line-height: 1.7;
			color: #FFF;

			span {
				display: block;
				width: 100%;
				height: 20px;
			}
		}
	}
}

.rect {
	width: 4px;
	height: 3px;
	position: absolute;
	z-index: 2;

	#box01 {
		background: #FFF;
	}
}

.top-left {
	left: 0px;
	top: 0px;
}
.top-rigt {
	right: 0px;
	top: 0px;
}
.btm-left {
	left: 0px;
	bottom: 0px;
}
.btm-rigt {
	right: 0px;
	bottom: 0px;
}
#box01 .rect {
	background: rgba(255, 255, 255, 0);
}
#box01 .top-theme__movie-box {
	background:#5C5C5C;
}

// 部署紹介
.top-DepaIntro {
	margin: 60px 0;

	&__heading {
		margin-bottom: 20px;
	}

	&__content {
		width: 100%;
		height: 807px;
		background-color: rgba(217, 217, 217, 0.5);
	}
}

.top-MovieIntro {
	@extend .top-DepaIntro;

	&__heading {
		margin-bottom: 24px;
	}

	&__content {
		margin: 0 auto;
		position: relative;
		width: 322px;
		height: 208px;
		background-color: #5C5C5C;

		&:before {
			content: "";
			position: absolute;
			left: -4px;
			top: 50%;
			display: inline-block;
			width: 5px;
			height: 209px;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			background-color: #5C5C5C;
		}

		&:after {
			content: "";
			position: absolute;
			right: -4px;
			top: 50%;
			display: inline-block;
			width: 5px;
			height: 209px;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			background-color: #5C5C5C;
		}

		&-inner {
			position: relative;
			width: 100%;
			height: 100%;

			&:before {
				content: "";
				position: absolute;
				left: 0px;
				top: -4px;
				display: inline-block;
				width: 322px;
				height: 5px;
				background-color: #5C5C5C;
			}

			&:after {
				content: "";
				position: absolute;
				left: 0px;
				bottom: -4px;
				display: inline-block;
				width: 322px;
				height: 5px;
				background-color: #5C5C5C;
			}
		}
	}
}