.MainVisual {
	width: 100vw;
	height: 100vh;
}

.MainVisual-img {
	height: 94vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.MainVisual-info {
	display: flex;
	align-items: center;
	width: 100%;
	height: 6vh;
	color: #FFF;
	background-color: #DC4D40;
}

.flow-text {
	width: 100%;
	padding: 0 100vw;
	font-family: "Pixel";
	font-weight: 300;
	white-space: nowrap;
	animation-name: marquee;
	animation-duration: 7s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes marquee {
	from    { transform: translate(0%); }
	100%,to { transform: translate(-100%); }
}


// About部分
.top-about {
	padding: 60px 8% 81px;
	text-align: center;
	background-image: url("../../public/images/top/aboutBg.jpg");
	background-size: cover;
	background-repeat: no-repeat;

	&__heading {
		margin-bottom: 47px;
	}

	&__title {
		font-family: "ShinGo";
		font-weight: 800;
		font-size: 38px;
		color: #FFF;
		text-shadow: 0px 4px 1px rgba(0, 0, 0, 0.1);
	}

	&__subtitle {
		font-family: "ShinGo";
		font-weight: 300;
		font-size: 14px;
		color: #39654C;
	}

	&__description-text {
		white-space: nowrap;
		font-family: "ShinGo";
		font-weight: 600;
		font-size: 16px;
		line-height: 2;
		color: #FFF;
	}

	&__description-main {
		position: relative;
		width: fit-content;
		margin: 40px auto 0;
		font-family: "ShinGo";
		font-weight: 600;
		font-size: 20px;
		line-height: 2;
		color: #FFF;

		&:after {
			content: "";
			position: absolute;
			top: calc(50% - 12px);
			right: -24px;
			width: 24px;
			height: 24px;
			background-image: url("../../public/icons/emojione_double-exclamation-mark.svg");
			background-repeat: no-repeat;
		}
	}
}

// Theme部分
.top-theme {
	margin: 60px 0;

	&__heading {
		margin-bottom: 40px;
		text-align: center;
	}

	&__title {
		font-family: "ShinGo";
		font-weight: 600;
		font-size: 35px;
		line-height: 1.3;
		color: #4E8465;
	}

	&__subtitle {
		@extend .top-theme__title;
		margin-left: 5px;
		font-weight: 300;
		font-size: 14px;
		line-height: 1.5;
	}

	&__movie {
		position: relative;
		margin: 0 auto;
		z-index: 1;
		overflow: hidden;
		width: 82%;

		&-box {
			position: relative;
			padding: 78px 0;
			text-align: center;
			color: #FFF;
		}
	}

	&__caption {
		padding: 107px 20px 80px;
		background-image: url("../../public/images/top/themeBg.jpg");
		background-size: 100%;
		background-repeat: no-repeat;
		transform: translateY(-87px);

		&-content-wrap {
			padding: 40px 30px;
			min-height: 573px;
			background-image: url("../../public/images/top/themeBase.png");
			background-size: 100%;
		}

		&-title {
			margin-bottom: 40px;
			position: relative;
			text-align: center;

			h1 {
				display: inline-block;
				font-family: ShinGo;
				font-weight: 600;
				font-size: 18px;
				color: #FFF;
			}

			&:before {
				content: "";
				display: inline-block;
				width: 129px;
				height: 43px;
				top: -20px;
				left: 0;
				background-image: url("../../public/images/top/GOOOON.svg");
				background-repeat: no-repeat;
			}
		}

		&-text {
			font-family: "ShinGo";
			font-weight: 300;
			font-size: 14px;
			line-height: 1.7;
			color: #FFF;

			span {
				display: block;
				width: 100%;
				height: 20px;
			}
		}
	}
}

.rect {
	width: 4px;
	height: 3px;
	position: absolute;
	z-index: 2;

	#box01 {
		background: #FFF;
	}
}

.top-left {
	left: 0px;
	top: 0px;
}
.top-rigt {
	right: 0px;
	top: 0px;
}
.btm-left {
	left: 0px;
	bottom: 0px;
}
.btm-rigt {
	right: 0px;
	bottom: 0px;
}
#box01 .rect {
	background: #FFF;
}
#box01 .top-theme__movie-box {
	background:#5C5C5C;
}