footer {
	background-color: #0D2E4F;
	padding: 30px 75px;
}

.footer__sns {
	text-align: center;

	& h3 {
		margin-bottom: 4px;
		font-family: "ShinGo";
		font-weight: 600;
		font-size: 10px;
		color: #FFF;
	}

	&-wrap {
		display: flex;
		justify-content: center;
		align-items: center;

		* {
			margin: 20px;
		}
	}
}

.footer__copyright {
	text-align: center;

	&-logo {
		width: fit-content;
		margin: 0 auto;
	}

	p {
		margin-top: 20px;
		font-family: "ShinGo";
		font-weight: 300;
		font-size: 10px;
		color: #FFF;
	}
}