header {
	position: fixed;
	z-index: 1000;
	width: 100vw;
	padding: 20px 0;
	background-color: #FFF;
}

.Header-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 15px;
}

.Header-logo-wrap {
	display: flex;
	align-items: center;
}

.Header-title {
	width: 38vw;
	margin-left: 2%;
}

.Header-menu-icon {
	position: relative;
	z-index: 300;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #0D2E4F;

	span, span:before, span:after {
		position: absolute;
		content: "";
		display: block;
		height: 2px;
		width: 22px;
		border-radius: 3px;
		background-color: #FFF;
	}

	span:before {
		bottom: 5.56px;
	}

	span:after {
		top: 5.56px;
	}
}

.Menu-Drawer-wrap {
	display: none;
}

.nav__overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
	padding-top: 90px;
	width: 100vw;
	height: 100vh;
	background-color: #0D2E4F;
	color: #FFF;

	&-close-icon {
		&-wrap {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			z-index: 500;
			width: 50px;
			height: 50px;
			color: #FFF;
			background-color: #0D2E4F;
			border: solid 2px #FFF;
			border-radius: 50%;
		}
	}

	&-menuList {
		margin: 40px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		list-style: none;
		font-family: "ShinGo";

		* + * {
			margin-top: 40px;
		}

		li {
			text-align: center;
		}

		h3 {
			font-weight: 600;
			font-size: 25px;
			line-height: 1;
		}

		p {
			margin-top: 5px;
			font-weight: 300;
			font-size: 10px;
			line-height: 1.5;
		}
	}

	&-sns-wrap {
		margin-top: 5px;
	}
}

.hamburger-react {
	div:nth-child(1) {
		top: 18px;
	}

	div:nth-child(3) {
		top: 28px;
	}
}