@import "../font";

header {
	position: fixed;
	width: 100vw;
	padding: 20px 0;
	background-color: #FFF;
}

.Header-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 360px;
	margin: 0 auto;
}

.Header-logo-wrap {
	display: flex;
	align-items: center;
}

.Header-title {
	width: 38vw;
	margin-left: 2%;
}

.Header-menu-icon {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #0D2E4F;

	span, span:before, span:after {
		position: absolute;
		content: "";
		display: block;
		height: 2px;
		width: 22px;
		border-radius: 3px;
		background-color: #FFF;
	}

	span:before {
		bottom: 5.56px;
	}

	span:after {
		top: 5.56px;
	}
}

.Menu-Drawer-wrap {
	display: none;
}